.p-toast {
  @media (max-width: 576px) {
    max-width: 250px;
    height: 90px;
  }
}

p-button {
  transition: transform 0.2s ease-in-out;
}

.p-button:active {
  transform: scale(0.95);
}

*:focus {
  box-shadow: none;
}
